@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/manrope/static/Manrope-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Fraunces';
  src: url('./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf')
    format('truetype');
}

:root {
  --color-primary: #24053e;
  --color-accent: #44ffa1;
  --color-secondary: #fcf8ff;
  --color-hover: #584d62;
  --color-white: #fff;
  --font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  font-family: 'Manrope';
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
  font-family: 'Fraunces';
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
}

header {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 2rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size);
  font-weight: bold;
}

.underline {
  text-decoration: none;
  position: relative;
}

header nav .underline:hover {
  color: var(--color-accent);
}

.underline::after {
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -3px;
  background-color: var(--color-accent);
  position: absolute;
}

h1 {
  --font-size: 50px;

  font-size: var(--font-size);
  line-height: var(--font-size);
  text-align: center;
}

h1 .underline::after {
  bottom: 3px;
}

header button {
  border: none;
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 1rem 1.25rem;
  font-size: var(--font-size);
  font-weight: bold;
  border: 1px solid transparent;
}

header button:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  body {
    --font-size-headingL: 80px;
  }
}
